@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/SpaceGrotesk-Regular.ttf");
}
@font-face {
    font-family: SpaceGrotesk;
    src: url("../fonts/SpaceGrotesk-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Barlow;
    src: url("../fonts/Barlow-Regular.ttf");
}

@font-face {
    font-family: Barlow;
    src: url("../fonts/Barlow-Bold.ttf");
    font-weight: bold;
}

body{
    font-family: SpaceGrotesk, serif;
    font-size: 15px;
}

a {
    color: rgba(75, 103, 249, 1);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

table {
    background-color: #e6e6e6;
    border-collapse: separate;
    border-spacing: 1px;
    font-family: SpaceGrotesk, serif;
    width: 100%;
}
tr:nth-child(odd) td{
    background-color: #ffffff;
}
tr:nth-child(even) td{
    background-color: #f2f2f2;
}
th {
    background-color: #eeeeee;
    padding: 12px 8px;
}
td {
    padding: 8px;
}

.dk-nav {
     background: rgba(75, 103, 249, 1) !important;
}

.dk-nav-icon > a {
    border-right: 2px solid #ffffff;
    padding-right: 10px;
}

.dk-nav-icon-items {
    color: #ffffff;
}

.dk-pkg-name {
    cursor: pointer;
    font-size: 24px;
}

.row_headline {
    font-weight: bold;
    font-size: 36px;
    padding-top: 30px;
    margin-bottom: 0;
}

.pkg_card {
    border-radius: 20px;
    border: 2px solid #000;
    box-shadow: 10px 10px 0px 0px rgba(13, 95, 255, 0.3);
}

.pkg_card:hover {
    border: 2px solid rgba(75, 103, 249, 1);
    box-shadow: 10px 10px 0px 0px rgba(13, 95, 255, 1);

}

.pkg_card > .card-header {
    background: none;
    border-bottom: 1px solid #000;
}

.pkg_card > .card-header > a {
    text-decoration: none;
    color: #000;
    font-family: Barlow, serif;
}

.pkg_card_body {
    padding: 25px 20px;
}

.pkg_card_body > .card-title {
    font-size: 30px;
    font-weight: bold;
}

.pkg_card_body > .card-text {
    font-size: 16px;
    font-family: Barlow, serif;
}

.toc {
    position: sticky;
    top: 2rem;
    font-family: SpaceGrotesk, serif;
}

.toc__list {
    list-style: none;
}

.toc__headline {
     font-size: 1.5rem;
     padding-bottom: 2px;
     margin: 0 1rem 1rem;
 }

.toc__entry {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    padding: .5rem 1rem;
    display: block;
}

.toc__entry > a.active {
    font-weight: bold;
}

.toc__link {
    color: #444;
}

.dropdown-item .active {

}

/*---------- FOOTER -------------*/

footer {
    margin-top: 50px;
    padding: 30px 0;
    border: 2px solid rgba(228, 228, 228, 1)
}

.footer_head > p {
    font-size: 24px;
    font-weight: bold;
}

.dk_widget {
    font-family: Barlow, serif;
    padding: 20px 10px;
}

.dk_widget > p {
    font-weight: bold;
    margin: 5px;
    font-size: 18px;
}

.dk_widget > a > i {
    color: rgba(75, 103, 249, 1);
}

.dk_widget > a {
    color: rgba(175, 175, 175, 1);
    text-decoration: none;
    font-size: 15px;
}
.dk_widget > a:hover {
    color: rgba(75, 103, 249, 1);
    text-decoration: underline;
}

ul.support__list {
    list-style: none;
    margin: 0;
}

.support__list-item {
    padding: 5px 0;
}

.support__list-item > a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
}
.support__list-item > a > i {
    font-size: 18px;
    margin-right: 5px;
}

.support__list-item > a:hover {
    color: rgba(75, 103, 249, 1);
    text-decoration: underline;
}

.footer_copy {
    margin: 20px 0;
}

/*DOCUMENTATION*/

nav.nav_breadcrumb {
    margin: 50px 0;
}

li.breadcrumb-item > a {
    color: #000000;
    text-decoration: none;
}

li.breadcrumb-item > a:hover {
    text-decoration: underline;
}

.subnavigation__title {
    font-size: 1.5rem;
    padding-bottom: 2px;
    margin: 0 1rem 1rem;
}

.subnavigation__title > a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

ul.subnavigation__list {
    list-style: none;
}

.subnavigation__list-item {
    border-bottom: 1px solid #e2e2e2;
}

.subnavigation__link, .subnavigation__headline {
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    padding: .5rem 1rem;
    display: block;
}

.subnavigation__link:hover {
    background-color: #efefef;
    text-decoration: none;
}

li.subnavigation__list-item.subnavigation__list-item--active {
    font-weight: bold;
}

.main_docs {
    font-family: Barlow, serif;
    /*border-right: 1px solid #efefef;*/
}

#mkdocs-search-results > article {
    margin: 10px 0;
}

.main_docs h1:first-of-type {
    font-size: 3rem;
    /*border-bottom: 2px solid rgba(199, 31, 56, 1);*/
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.main_docs h2 {
    /*border-top: 1px solid rgba(199, 31, 56, 1);*/
    padding-top: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.main_docs h3 {
    /*border-top: 1px solid rgba(199, 31, 56, 1);*/
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

blockquote {
    background-color: #f7f7f7;
    padding: 12px 20px 0 20px;
    margin: 2rem 0;
    border: 2px solid #d63384;
    font-size: 15px;
    border-radius: 10px;
}

/*CODE LANGUAGE */
#configuration ~ pre.codehilite {
    padding: 1em 0 1em 4em !important;
}

pre, pre[class*=language-] {
    font-size: 13px;
    border-radius: 0;
    border: none;
    background-color: #3c4146;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
}

pre.codehilite {
    padding: 1em 0 1em 4em !important;
}

pre.codehilite > code {
    color: #fff !important;
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

code {
    font-size: 1em !important;
    font-weight: bold !important;
}

code[class*=language-],
pre[class*=language-] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 13px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
}

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: .3em
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #272822;
    margin: 1rem 0;
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #8292a2
}

.token.punctuation {
    color: #f8f8f2
}

.token.namespace {
    opacity: .7
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672
}

.token.boolean,
.token.number {
    color: #ae81ff
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #a6e22e
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #f8f8f2
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
    color: #e6db74
}

.token.keyword {
    color: #66d9ef
}

.token.regex,
.token.important {
    color: #fd971f
}

.token.important,
.token.bold {
    font-weight: bold
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: hsla(24, 20%, 50%, 0.08);
    background: linear-gradient(to right, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre
}

@media print {
    .line-highlight {
        -webkit-print-color-adjust: exact;
        color-adjust: exact
    }
}

.line-highlight:before,
.line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%, 0.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none
}

pre[id].linkable-line-numbers span.line-numbers-rows {
    pointer-events: all
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:before {
    cursor: pointer
}

pre[id].linkable-line-numbers span.line-numbers-rows>span:hover:before {
    background-color: rgba(128, 128, 128, 0.2)
}

pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber
}

pre[class*=language-].line-numbers>code {
    position: relative;
    white-space: inherit
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.line-numbers-rows>span {
    display: block;
    counter-increment: linenumber
}

.line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
}



i.bi.bi-copy.copy_btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 5px;
}

.page-nav {
    list-style-type: none;
    border-top: 1px solid #d6d6d6;
    display: table;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0 0 1rem;
}

.page-nav__item {
    display: table-cell;
}

.page-nav__link--prev .page-nav__label {
    margin-left: 15px;
}

.page-nav__title, .page-nav__label {
    display: block;
}

.page-nav__item:last-child {
    text-align: right;
}

.page-nav__link {
    border: none;
    color: #444;
    font-weight: bold;
}

.page-nav__link--next .page-nav__label {
    margin-right: 15px;
    font-weight: normal;
}

.page-nav__link--prev .page-nav__label {
    margin-left: 15px;
    font-weight: normal;
}

/*RESPONSIVE*/

@media (max-width: 767.98px) {
    .right_sidebar {
        /*display: none;*/
    }

    .main_docs {
        border: none;
    }
}
